[submodule "submodules/PPYProject"]
	path = submodules/PPYProject
	url = https://github.com/arzukk/PPYProject.git
[submodule "PPYProject"]
	path = PPYProject
	url = https://github.com/arzukk/PPYProject.git
